/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-out;
  }
  
  .strikethrough {
    text-decoration: line-through;
  }